body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(190, 213, 255);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 50px;
  font-size: 40px;
}

.item-container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.intro-text {
  margin-left: 80px;
  margin-right: 80px;
}

.rules-content {
  margin-left: 80px;
  margin-right: 80px;
  text-align: left;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
  align-items: flex-start;
  position: relative;
}

.points-box {
  background-color: rgb(246, 237, 217);
  border: none;
  box-sizing: border-box;
  width: 180px;
  margin-bottom: 0px;
  text-align: center;
  height: 180px;
  border-radius: 50%;
  position: absolute; 
  top: 10%; /* Adjust as needed to place correctly */
  left: 20%;
  transform: translateX(-50%);
  display: flex; 
  justify-content: center;
  align-items: center; 
}


.points-box h3 {
  align-content: center;
  font-size: 20px;
  color: rgb(0, 0, 0);
  padding: 10px;
  margin: 0;
}

.bed-container {
  flex: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.bed {
  background-image: url("../public/kid/awake.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 0;
  width: 100%;
  padding-bottom: 60%;
}

.bed-sleep {
  background-image: url("../public/kid/asleep.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 0;
  width: 100%;
  padding-bottom: 60%;
  margin-top: 0; /* Ensure no top margin */
}

.remaining {
  margin: 0;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
    align-items: center;
  }

  .points-box {
    position: absolute; /* Position the points box absolutely */
    top: -3%; /* Adjust as needed to place correctly */
    left: 23%;
    height: 120px;
    width: 120px;
    transform: translateX(-50%);
  }

  .points-box h3 {
    font-size: 15px;
  }

  .bed {
    width: 100%;
    padding-bottom: 80%;
    margin-bottom: 10px;
  }

  .bed-sleep {
    width: 100%;
    padding-bottom: 80%;
    margin-bottom: 10px;
  }

  .belt {
    margin-bottom: 70px;
  }

  .bed-item {
    min-width: 100px; /* Make bed items smaller */
  }

  .intro-text {
    font-size: 15px;
  }
  
  .rules-content {
    font-size: 15px;
  }

  h1 {
    font-size: 25px;
  }

}

.bed-item {
  flex: 1;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.bed-item img {
  height: 130px; 
  width: auto;
  max-width: 100%;
}

.belt {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.arrow-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.error-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.error-message {
  background-color: rgb(246, 237, 217);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.success-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.success-message {
  background-color: rgb(246, 237, 217);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.rules {
  margin-top: 20px;
  text-align: center;
}

.rules-header {
  cursor: pointer;
  font-size: 24px;
}

.arrow {
  margin-left: 10px;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 7.5px 0 7.5px;
  border-color: #333 transparent transparent transparent;
  transition: transform 0.3s ease;
}

.arrow.up {
  transform: rotate(180deg);
}

.rules-content {
  margin-top: 10px;
}