/* Global */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(190, 213, 255);
}

/* App, intro and rules */

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 50px;
  font-size: 50px;
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.item-container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.intro-text {
  margin-left: 80px;
  margin-right: 80px;
  line-height: 1.4;
  text-align: justify;
  max-width: 1000px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.rules-content {
  margin-left: 80px;
  margin-right: 80px;
  text-align: left;
  line-height: 1.4;
  text-align: justify;
  max-width: 1000px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.rules {
  margin-top: 20px;
  text-align: center;
}

.rules-header {
  cursor: pointer;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.arrow {
  margin-left: 10px;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 7.5px 0 7.5px;
  border-color: #333 transparent transparent transparent;
  transition: transform 0.3s ease;
}

.arrow.up {
  transform: rotate(180deg);
}

.rules-content {
  margin-top: 10px;
}

/* Belt */

.bed-item {
  flex: 1;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.bed-item img {
  height: 130px; 
  width: auto;
  max-width: 100%;
}

.belt {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.arrow-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/* Points and bed */

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
  align-items: flex-start;
  position: relative;
}

.bed-container {
  flex: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  position: relative; 
}

.bed {
  position: relative;
  width: 60%;
  overflow: hidden; 
  margin-top: 10%; 
}

.points-box {
  background-color: rgb(246, 237, 217);
  border: none;
  box-sizing: border-box;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  position: absolute;
  top: 15%;
  left: 15%; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; 
}

.remaining {
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 1.4;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* Messages */

.error-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.error-message {
  background-color: rgb(246, 237, 217);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.success-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.success-message {
  background-color: rgb(246, 237, 217);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

/* Responsive styles */

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
    align-items: center;
  }

  .points-box {
    position: absolute; 
    top: 2%; 
    left: 8%;
    height: 120px;
    width: 120px;
  }

  .points-box h3 {
    font-size: 15px;
  }

  .bed {
    width: 100%;
    margin-bottom: 10px;
  }

  .belt {
    margin-bottom: 50px;
  }

  .bed-item {
    min-width: 100px; /* Make bed items smaller */
  }

  .intro-text {
    font-size: 15px;
  }
  
  .rules-content {
    font-size: 15px;
  }

  h1 {
    font-size: 30px;
  }

 .intro-text, p {
    font-size: 13px;
  }

  .rules-header {
    font-size: 18px;
  }

}