body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(190, 213, 255);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sushi-container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
  align-items: flex-start;
}

.budget-box {
  background-color: rgb(246, 237, 217);
  border: none;
  box-sizing: border-box;
  width: 200px;
  margin-bottom: 0px;
  text-align: center;
  height: 200px;
  align-self: flex-start;
  border-radius: 50%;
  margin-left: 50px;
}


.budget-box h3 {
  align-content: center;
  font-size: 25px;
  color: rgb(0, 0, 0);
  padding: 10px;
  margin: 0;
}

.table-container {
  flex: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.table {
  background-image: url("../public/kid/awake.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 0;
  width: 100%;
  padding-bottom: 60%;
}

.table-sleep {
  background-image: url("../public/kid/asleep.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 0;
  width: 100%;
  padding-bottom: 60%;
  margin-top: 0; /* Ensure no top margin */
}

.remaining {
  margin: 0;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
    align-items: center;
  }

  .budget-box {
    order: -1;
  }

  .table {
    width: 100%;
    padding-bottom: 60%;
    margin-bottom: 20px;
  }
}

.sushi-item {
  flex: 1;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

/* Ensure all sushi images are the same size */
.sushi-item img {
  height: 80px; /* Adjust height as needed */
  width: auto;
  max-width: 100%;
}

/* Center align sushi details */
.sushi-details {
  text-align: center;
  margin-top: 15px; /* Adjust margin as needed */
}

.belt {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.arrow-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.error-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.error-message {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
