body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  display: grid;
  grid-template-columns: repeat(5, 1fr, 2fr, 2fr, 2fr, 1fr);
  grid-auto-rows: minmax(100px, auto);
  align-items: center;
  grid-template-areas:
    ". . . . ."
    ". bt bt bt ."
    ". . rm . ."
    ". tb tb tb .";
}

.remaining {
  grid-area: rm;
  margin: auto;
}

.plate {
  background-image: url("http://www.clker.com/cliparts/9/9/f/0/1194984076762834840small_plate.svg.hi.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  height: 100px;
  width: 100px;
}

.empty-plate {
  background-image: url("http://www.clker.com/cliparts/9/9/f/0/1194984076762834840small_plate.svg.hi.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateX(50deg);
  height: 100px;
  width: 100px;
  position: absolute;
  left: 300px;
}

.sushi-details {
  margin: auto;
  text-align: center;
}

.stack {
  position: relative;
  top: 30px;
}

.belt {
  grid-area: bt;
  display: flex;
  justify-content: space-evenly;
}

.sushi {
  min-width: 150px;
  margin: auto;
}

.plate > img {
  max-height: 60px;
  max-width: 100px;
}

.table {
  grid-area: tb;
  background-image: url("https://storybookstorage.s3.amazonaws.com/items/images/000/152/688/original/Table.png?1444827374");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 428px;
  width: 700px;
  margin: auto;
}

.error-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.error-message {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}